.mui-popover .mui-bar ~ .mui-table-view
{
    padding-top: 44px;
}
.mui-bar-backdrop.mui-backdrop
{
    bottom: 50px;

    background: none;
}
.mui-bar-backdrop.mui-backdrop, .mui-backdrop-action.mui-backdrop
{
    opacity: 0;
}
.mui-bar-backdrop.mui-backdrop.mui-active, .mui-backdrop-action.mui-backdrop.mui-active
{
    -webkit-transition: all .4s ease;
            transition: all .4s ease;

    opacity: 1;
}
.mui-popover .mui-bar
{
    -webkit-box-shadow: none;
            box-shadow: none;
}
.mui-popover .mui-bar-nav
{
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.mui-popover.mui-bar-popover .mui-table-view
{
    width: 106px;
}
.mui-popover.mui-bar-popover .mui-table-view .mui-table-view-cell
{
    padding: 11px 15px 11px 15px;

    background-position: 0 100%;
}
.mui-popover.mui-bar-popover .mui-table-view .mui-table-view-cell > a:not(.mui-btn)
{
    margin: -11px -15px -11px -15px;
}

.mui-android .mui-modal .mui-bar
{
    position: static;
}

.mui-android .mui-modal .mui-bar-nav ~ .mui-content
{
    padding-top: 0;
}.mui-bar-nav ~ .mui-content .mui-pull-top-pocket
{
    top: 44px;
}

.mui-bar-nav ~ .mui-bar-header-secondary ~ .mui-content .mui-pull-top-pocket
{
    top: 88px;
}
.mui-bar-tab ~ .mui-content .mui-slider.mui-fullscreen .mui-segmented-control ~ .mui-slider-group
{
    bottom: 50px;
}
.mui-plus.mui-statusbar.mui-statusbar-offset .mui-bar-nav
{
    height: 64px;
    padding-top: 20px;
}
.mui-plus.mui-statusbar.mui-statusbar-offset .mui-bar-nav ~ .mui-content
{
    padding-top: 64px;
}
.mui-plus.mui-statusbar.mui-statusbar-offset .mui-bar-nav ~ .mui-content .mui-pull-top-pocket
{
    top: 64px;
}
.mui-plus.mui-statusbar.mui-statusbar-offset .mui-bar-header-secondary
{
    top: 64px;
}
.mui-plus.mui-statusbar.mui-statusbar-offset .mui-bar-header-secondary ~ .mui-content
{
    padding-top: 94px;
}.mui-bar-nav ~ .mui-content
{
    padding-top: 44px;
}
.mui-bar-nav ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical
{
    top: 44px;
}

.mui-bar-header-secondary ~ .mui-content
{
    padding-top: 88px;
}
.mui-bar-header-secondary ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical
{
    top: 88px;
}
.mui-bar-nav
{
    top: 0;

    -webkit-box-shadow: 0 1px 6px #ccc;
            box-shadow: 0 1px 6px #ccc;
}
.mui-bar-nav ~ .mui-content .mui-anchor
{
    display: block;
    visibility: hidden;

    height: 45px;
    margin-top: -45px;
}
.mui-bar-nav.mui-bar .mui-icon
{
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
}
.mui-content
{
    background-color: #efeff4;

    -webkit-overflow-scrolling: touch;
}

.mui-bar-nav ~ .mui-content
{
    padding-top: 44px;
}button,
.mui-btn
{
    font-size: 14px;
    font-weight: 400;
    line-height: 0.8;

    position: relative;

    display: inline-block;

    margin-bottom: 0;
    padding: 6px 12px;

    cursor: pointer;
    -webkit-transition: all;
            transition: all;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;

    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #fff;
    background-clip: padding-box;
}.mui-btn-block
{
    font-size: 18px;

    display: block;

    width: 100%;
    margin-bottom: 10px;
    padding: 15px 0;
}

input,
textarea,
select
{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 17px;

    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}input[type='text'],
input[type='search'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='color']
{
    line-height: 21px;

    width: 89%;
    height: 20px;
    margin-bottom: 15px;
    padding: 10px 15px;

    -webkit-user-select: text;

    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    outline: none;
    background-color: #fff;

    -webkit-appearance: none;
}
.mui-pull-right
{
    float: right;
}

@font-face {
    font-family: Muiicons;
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/mui.ttf') format('truetype');
}
.mui-icon
{
    font-family: Muiicons;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;

    display: inline-block;

    text-decoration: none;

    -webkit-font-smoothing: antialiased;
}
.mui-icon.mui-active
{
    color: #007aff;
}
.mui-btn .mui-icon
{
    font-size: inherit;
}

.mui-btn.mui-icon
{
    font-size: 14px;
     line-height: 0.6;
}
.mui-icon-checkmarkempty:before
{
    content: '\e472';
}
.mui-icon-paperplane:before
{
    content: '\e503';
}
.mui-icon-info:before
{
    content: '\e504';
}
.container {
			width:100%; 
			min-height:100%; 
			border:1px solid #ccc;
			background-color: #fff;
			text-align: left;
			box-shadow: 0 0 10px #ccc;
			text-shadow: none;
		}
	body {
			background-color:#f1f1f1;
			text-shadow: 0 0 2px #ccc;
		}a {
			text-decoration: none;
		}.wangEditor-mobile-menu-container {
			text-shadow: none;
		} 